#form-conta , #form-usuario , #form-empresa,#form-evento
{
	width:60%;
	margin: 0 auto;
}
.label
{
	font-family:Verdana;
}
.input
{
	width: 70%;
	 
}

.evento-especifico
{
	margin: 0 auto;
	width:70%;
}

.img-destaque
{
	padding: 2%;
	height:500px;
	width:96%;
}
#evento-especifico-painel
{
	margin-top:2%;
	border:none;
}

#img-detalhe-painel
{
	width:20%;
	height:10%;
}
.well-cadastro 
{
	background: rgba(26, 188, 156,1.0);
	font-family: Verdana;
	text-align: center;
	color: white;
	font-weight: bold;
}
.inputCad-Empresa , .inputCad-Usuario
{
	padding: 7px;
	margin-left: 2%;
	
}
.btnVoltar-empresa , .btnCadastrar-empresa , .btnConta-cad, .btnConta-volta
{
	background: rgba(243, 156, 18,1.0);
	font-family: Verdana;
	color: white;
	font-size: 15px;
	
}
.btnVoltar-empresa,.btnConta-volta
{
	margin-left: 43%;
}
.btnCadastrar-empresa
{
	margin-left:3px;
}