

.excluir-icon {
	background: url("icons/excluir.png") !important;
}

.editar-icon {
	background: url("icons/editar.png") !important;
}

.buscar-icon {
	background: url("icons/search3.png") !important;
}


