* {
	padding: 0;
	margin: 0;
}


/* Z-index da nav menor que o z-index do p:growl(1001)  */
body .navbar-fixed-top, .navbar-fixed-bottom{
	z-index:500;
}

.navbar-inverse
{
	background: black;
	border: none;
	height: 70px
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    background: black;
}

.container > .navbar-header, .container-fluid > 
.navbar-header, .container > .navbar-collapse, 
.container-fluid > .navbar-collapse
{
	margin-top: 10px;
}

.navbar-inverse .navbar-nav > li > a
{
	color: white;
}

.navbar-nav > #link-cadastro > a
{
	color:white;
	border-radius:5px;
	background: orange;
	margin-left: 10px;
}
.navbar-nav > #link-login > a
{
	color:white;
	border-radius:5px;
	background: rgb(26, 188, 156);
}
.navbar-default .navbar-nav > li > a
{
	color: white;
}

/* links da nav do administrador */
#link-menuAdm
{
	margin-left:25%;
}

#link-menuUser
{
	
	margin-left:10%;
}

#link-perfil
{
	margin-left:5%;
}
.nome-perfil
{
	margin-left: 10%;
}
.linha
{
	width:100%;
	height:5px;
	background: black;
}

/* cor dos links da nav */
.navbar-inverse .navbar-nav > li > a
{
	color: white;
}




 
